doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/alexion2.css')
  body
    video(class="video",controls ,id="video")
        source(src='/videos/alexion2en.mp4', type='video/webm')
    script(src="/javascripts/alexion2en.js")