doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/alexion2.css')
  body
    video(class="video",controls ,id="video")
        source(src='/videos/alexion2rus.mp4', type='video/mp4')
    script(src="/javascripts/alexion2rus.js")